<module version="2.0">
    <meta>
        <identity>
            <uri>urn:org:netkernel:demo:petclinic</uri>
            <version>0.0.1</version>
        </identity>
        <info>
            <name>Demo / Petclinic</name>
            <description>Petclinic in ROC</description>
        </info>
    </meta>
    <system>
        <dynamic/>
    </system>
    <rootspace>
        <mapper>
            <config>
                <import>res:/org/netkernel/demo/petclinic/owner/ownerMapperConfig.xml</import>
            </config>
            <space>
                <literal uri="res:/dummy" type="string">ReplaceMe!</literal>
                <fileset>
                    <regex>res:/org/netkernel/demo/petclinic/.*</regex>
                </fileset>
            </space>
        </mapper>
    </rootspace>
</module>