<module version="2.0">
    <meta>
        <identity>
            <uri>urn:org:netkernel:demo:petclinic</uri>
            <version>0.0.1</version>
        </identity>
        <info>
            <name>Demo / Petclinic</name>
            <description>Petclinic in ROC</description>
        </info>
    </meta>
    <system>
        <dynamic/>
    </system>
    <rootspace>
        <mapper>
            <config>
                <endpoint>
                    <grammar>
                        <simple>res:/api/owners/{ownerId}</simple>
                    </grammar>
                    <request>
                        <identifier>active:owner</identifier>
                        <argument name="id">arg:ownerId</argument>
                    </request>
                </endpoint>
                <endpoint>
                    <grammar>
                        <active>
                            <identifier>active:owner</identifier>
                            <argument name="id" />
                        </active>
                    </grammar>
                    <request>
                        <identifier>res:/dummy</identifier>
                    </request>
                </endpoint>
            </config>
            <space>
                <literal uri="res:/dummy" type="string">ReplaceMe!</literal>
            </space>
        </mapper>
    </rootspace>
</module>